h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #000099;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bfbfbf;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    font-size: 20pt;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:#f1f1f1;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



